<h1 class="page-hdr">Rooms</h1>
<ul class="room-list"> </ul>
<a class="create-room-btn">Create Room</a>

<div class="modal hide fade create-room">
<%= form_for(@room) do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Create A Room</h3>
  </div>
  <div class="modal-body">
    <% if @room.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>
        <ul>
          <% @room.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.text_field :title, placeholder: "Room Title:" %>
    <%= f.text_area :description, {placeholder: "Room Description", rows:10, cols:30} %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Create", :class=>"submitTopic" %>
  </div>
<% end %>
</div>

<script id="room-template" type="text/x-handlebars-template">
  <h2 class="name">{{title}}</h2>
  <h3 class="description"><i class="icon-info-sign"></i> {{description}} </h3>
  <span class="liveSign">
    {{! TODO: fill in the text and swap out the image with css }}
    {{#if open}}
    <img src="/img/greenlight.png" alt="" />
    <span>Open</span>
    {{else}}
    <img src="/img/greylight.png" alt="" />
    <span>Closed</span>
    {{/if}}
  </span>

  <div class="userPreview">
    <h4>Currently In Chat:</h4>
    <ul>
      {{#each clients}}
      <li client="{{this.id}}"><img src="{{this.imgdata}}"/></li>
      {{/each}}
    </ul>
  </div>
</script>

<script id="client-template" type="text/x-handlebars-template">
  <li client="{{id}}"><img src="{{imgdata}}" alt="" /></li>
</script>

<script src="http://js.pusher.com/1.12/pusher.min.js"></script>
<%= javascript_include_tag "underscore" %>
<%= javascript_include_tag "backbone" %>
<%= javascript_include_tag "handlebar" %>
<script>
  var applicationChannel = "<%= Webrtc::Application.config.application_channel %>";
  var apiKey = "<%= API_KEY %>";
</script>
<%= javascript_include_tag "rooms" %>
