<div class="roomContainer">
  <div id="intro">
    <h1>OpenTok on WebRTC Demo Day!</h1>
    <h2>
      TRY out the latest addition to chrome - WebRTC! 
      <br />
      Add live video to any web apps with 
      <a href="http://opentok.com">
      OpenTok.
      </a>
    </h2>  
    <a href="#CreateJam" data-toggle="modal" class="create-room-btn">Create New Room</a>

    <div id="illustration">
      <img src="https://dl.dropbox.com/u/253668/TokBox/text.png" alt="" />
    </div>

  </div>

  <div class="section_divider"></div>

  <h1 class="page-hdr">Join Existing Rooms:</h1>
  <ul class="room-list"> </ul>
  <hr />
  <footer>
    <a href="http://tokbox.com/blog/author/song">
      <h1>Read about how this app was built</h1>
    </a>
  </footer>

  <div class="modal hide fade create-room">
    <%= form_for(@room) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Create A Room</h3>
      </div>
      <div class="modal-body">
        <% if @room.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>
            <ul>
              <% @room.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.text_field :title, placeholder: "Room Title:" %>
        <%= f.text_area :description, {placeholder: "Room Description", rows:10, cols:30} %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Create", :class=>"submitTopic" %>
      </div>
    <% end %>
  </div>
</div>

<script id="room-template" type="text/x-handlebars-template">
  <h2 class="name">{{title}}</h2>
  <h3 class="description"> {{description}} </h3>
  <span class="liveSign">
    {{! TODO: fill in the text and swap out the image with css }}
    {{#if open}}
    <img src="/img/greenlight.png" alt="" />
    <span>Open</span>
    {{else}}
    <img src="/img/greylight.png" alt="" />
    <span>Closed</span>
    {{/if}}
  </span>

  <div class="userPreview">
    <h4>Currently In Chat:</h4>
    <ul>
      {{#each clients}}
      <li client="{{this.id}}"><img src="{{this.imgdata}}"/></li>
      {{/each}}
    </ul>
  </div>
</script>

<script id="client-template" type="text/x-handlebars-template">
  <li client="{{id}}"><img src="{{imgdata}}" alt="" /></li>
</script>

<script src="http://js.pusher.com/1.12/pusher.min.js"></script>
<%= javascript_include_tag "underscore" %>
<%= javascript_include_tag "backbone" %>
<%= javascript_include_tag "handlebar" %>
<script>
  window.applicationChannel = "<%= Webrtc::Application.config.application_channel %>";
</script>
<%= javascript_include_tag "rooms" %>
