<h2 class="roomsTitle">Rooms</h2>
<ul id="roomList">
</ul>

<br />

<a id="create_topic">Create Room</a>

<div class="modal hide fade" id="createRoom">
<%= form_for(@room) do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3>Create A Room</h3>
  </div>
  <div class="modal-body">
    <% if @room.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>
        <ul>
          <% @room.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="publisherContainer">
      <div id="createRoomPublisher"></div>
    </div>

    <%= f.fields_for :clients do |client_fields| %>
      <%= client_fields.text_field :name, placeholder: "Your Name" %>
      <%= client_fields.text_field :imgdata, :type => "hidden", :class => "imgdata" %>
    <% end %>

    <%= f.text_field :title, placeholder: "Room Title:" %>
    <%= f.text_area :description, {placeholder: "Room Description", rows:10, cols:30} %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Create", :class=>"submitTopic" %>
  </div>
<% end %>
</div>

<div class="modal hide fade" id="joinRoom">
<%= form_for(@client) do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3>Join Room</h3>
  </div>
  <div class="modal-body">
    <% if @room.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

        <ul>
          <% @client.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="publisherContainer">
      <div id="joinRoomPublisher"></div>
    </div>

    <%= f.text_field :name, placeholder:"Your Name" %>
    <%= f.text_field :imgdata, :type => "hidden" , :class => "imgdata"%>
    <%= f.number_field :room_id, type:"hidden" %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Create", :class=>"submitTopic" %>
  </div>
<% end %>
</div>


<script id="room-template" type="text/x-handlebars-template">
  {{#if open}}
  <li class="room_view" room="{{id}}">
  {{else}}
  <li class="room_view" room="{{id}}"">
  {{/if}}
    <span class="name">{{title}}</span>
    <span class="description">
      <i class="icon-info-sign"></i>
      <p> {{description}} </p>
    </span>
    <span class="liveSign">
      {{#if open}}
      <img src="/img/greenlight.png" alt="" />
      <span class="roomStatus">Open</span>
      {{else}}
      <img src="/img/greylight.png" alt="" />
      <span class="roomStatus">Closed</span>
      {{/if}}
    </span>

    <h5 class="user_preview_header">Currently In Chat:</h5>
    <ul id="user_preview">
      {{#each clients}}
      <li><img src="{{this.imgdata}}" alt="" client="{{this.id}}"/></li>
      {{/each}}
    </ul>
  </li>
</script>

<script id="client-template" type="text/x-handlebars-template">
  <li><img src="{{imgdata}}" alt="" client="{{client_id}}"/></li>
</script>



<script src="http://static.opentok.com/webrtc/v2.0/js/TB.min.js"></script>
<script src="http://js.pusher.com/1.12/pusher.min.js"></script>
<%= javascript_include_tag "underscore" %>
<%= javascript_include_tag "backbone" %>
<%= javascript_include_tag "handlebar" %>
<script>
  var applicationChannel = "<%= Webrtc::Application.config.application_channel %>";
  var apiKey = "<%= API_KEY %>";
</script>
<%= javascript_include_tag "rooms" %>
