<div class="showRoomContainer">
  <div id="statusBar">
    <img src="http://static.opentok.com/webrtc/v2.0.0/images/rtc/loading.gif" alt="" />
    Joining Room ...
  </div>
<section id="title">
  <div id="title_content">
    <div id="user_image">
      <img src="" alt="" id="userImageSrc" />
    </div>
    <h3><%= @room.title %></h3>
  </div>
</section>
<section id="streams">
  <div id="streams_container">
    <div id="clientInfoContainer">
      <h1>What is your name?</h1>
      <input type="text" name="client[name]" id="clientName" />
      <span id="submitClientName" class="btn">Take my Picture!</span>
    </div>
    <div id="stream_1" class="createClientVideo">
      <div class="stream_content">
        <div id="streamv1" class="publisherContainer">
          <div id="myPublisher"></div>
        </div>
      </div>
    </div>
    <div id="stream_2" class="subscriber_stream_content">
      <div class="stream_content">
        <div id="streamv2" class="subscriberContainer">
        </div>
      </div>
    </div>
    <div id="stream_3" class="subscriber_stream_content">
      <div class="stream_content">
        <div id="streamv3" class="subscriberContainer"></div>
      </div>
    </div>
    <div id="stream_4" class="subscriber_stream_content">
      <div class="stream_content">
        <div id="streamv4" class="subscriberContainer"></div>
      </div>
    </div>
  </div>
</section>

<div id="chatroom">
  <div id="displayChat"><ul id=""></ul></div>
  <div id="chatInput">
    <input type="" id="messageInput" />
    <i class="icon-comments-alt"></i>
  </div>
</div>

<div id="filterContainer">
  <h1>Filters: </h1>
  <div id="filterOptions">
    <h1 class="filterOption" value="Blur">Blur</h1>
    <h1 class="filterOption" value="Sepia">Sepia</h1>
    <h1 class="filterOption" value="Grayscale" >Grayscale</h1>
    <h1 class="filterOption" value="Invert" >Invert</h1>
    <h1 class="filterOption optionSelected" value="">None</h1>
  </div>
</div>

<div id="info" room_id="<%= @room.id %>" tbSession="<%= @room.session_id %>" tbToken="<%= @token %>"></div>

<canvas id="myPictureCanvas" style="position:fixed; top:-500px; left: -500px;" width="100" height="100"></canvas>

</div>

<script id="messageTemplate" type="text/x-handlebars-template">
  <div class="chatMessage"><em>{{name}}: </em>{{text}}</div>
</script>
<script id="userStreamTemplate" type="text/x-handlebars-template">
    <div id="{{id}}"></div>
    <div class="flagUser" streamConnection="{{id}}">Offensive User</div>
</script>

<div id="createClientOverlay"></div>

<script src="http://static.opentok.com/webrtc/v2.0/js/TB.min.js"></script>
<script src="http://js.pusher.com/1.12/pusher.min.js"></script>
<script type='text/javascript' src='//static.firebase.com/v0/firebase.js'></script>

<%= javascript_include_tag "handlebar" %>
<%= javascript_include_tag "show" %>
