<%=stylesheet_link_tag "showRoom"%>

<div id="showRoom">
  <div id="title" class="wrapper">
    <div id="title_content">
      <div id="room_icon">
      </div>
      <h3><%= @room.title %></h3>
    </div>
  </div>
  <div id="streams" class="wrapper">
    <div id="streams_container">
      <div id="stream_1" >
        <div class="stream_content">
          <div id="streamv1" ></div>
        </div>
        <a  href="#joinModal" data-toggle="modal" stream="streamv1" class="joinButton">Join Chat</a>
      </div>
      <div id="stream_2">
        <div class="stream_content">
          <div id="streamv2"></div>
        </div>
        <a  href="#joinModal" data-toggle="modal" stream="streamv2" class="joinButton">Join Chat</a>
      </div>
      <div id="stream_3">
        <div class="stream_content">
          <div id="streamv3"></div>
        </div>
        <a  href="#joinModal" data-toggle="modal" stream="streamv3" class="joinButton">Join Chat</a>
      </div>
      <div id="stream_4">
        <div class="stream_content">
          <div id="streamv4"></div>
        </div>
        <a  href="#joinModal" data-toggle="modal" stream="streamv4" class="joinButton">Join Chat</a>
      </div>
    </div>
  </div>
  <div id="videoPrompt">

    <h4>Video Prompt</h4>
    <div id="prompt">
      <iframe width="420" height="315" src="" frameborder="1" allowfullscreen></iframe>
    </div>
  </div>

  <div id="chatroom">
    <div id="displayChat"><ul id=""></ul></div>
    <div id="chatInput">
      <input type="" id="messageInput" />
      <i class="icon-comments-alt"></i>
    </div>
  </div>
</div>

<div id="startRecording" class="btn" >Buttons for different video effects</div>



<div id="info" room_id="<%= @room.id %>" tbSession="<%= @room.session_id %>" tbToken="<%= @token %>"></div>


<div id="joinModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Photo Snapshot</h3>
  </div>
  <div class="modal-body">
    <div id="photoShoot">
      <div id="myPublisher"></div>
      <div id="photo_preview">
        <img id="preview_img" src="http://graph.facebook.com/songzme/picture" alt="" />
      </div>
      <button id="retake" class="btn">retake</button>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal"  class="btn" id="finishPictureButton">Continue ...</a>
  </div>
</div>

<script type="text/javascript">
        var userName=""
        $('.submitName').removeAttr('disabled')
        $('#chatInput input').focus(function(){
          console.log()
          $('.icon-comments-alt').css('color','#C40A68')
        })
        $('#chatInput input').focusout(function(){
          $('.icon-comments-alt').css('color','#8D8F8F')
        })
</script>


<script src="http://static.opentok.com/v0.91/js/TB.min.js"></script>
<script src="http://js.pusher.com/1.12/pusher.min.js"></script>
<script type='text/javascript' src='//static.firebase.com/v0/firebase.js'></script>

<%= javascript_include_tag "show" %>
