<%=stylesheet_link_tag "showRoom"%>

<div id="showRoom">
  <div id="title" class="wrapper">
    <div id="title_content">
      <div id="user_image">
        <img src="data:image/png;base64,<%= @client.imgdata %>" alt="" />
      </div>
      <h3><%= @room.title %></h3>
    </div>
  </div>
  <div id="streams" class="wrapper">
    <div id="streams_container">
      <div id="stream_1" >
        <div class="stream_content">
          <div id="streamv1" class="publisherContainer">
            <div id="myPublisher"></div>
          </div>
        </div>
      </div>
      <div id="stream_2">
        <div class="stream_content">
          <div id="streamv2" class="subscriberContainer"></div>
        </div>
      </div>
      <div id="stream_3">
        <div class="stream_content">
          <div id="streamv3" class="subscriberContainer"></div>
        </div>
      </div>
      <div id="stream_4">
        <div class="stream_content">
          <div id="streamv4" class="subscriberContainer"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="chatroom">
    <div id="displayChat"><ul id=""></ul></div>
    <div id="chatInput">
      <input type="" id="messageInput" />
      <i class="icon-comments-alt"></i>
    </div>
  </div>
</div>

<div id="startRecording" class="btn" >Buttons for different video effects</div>

<div id="info" room_id="<%= @room.id %>" tbSession="<%= @room.session_id %>" tbToken="<%= @token %>"></div>

<script id="message-template" type="text/x-handlebars-template">
  <div class="chatMessage"><em>{{name}}: </em>{{text}}</div>
</script>


<script type="text/javascript">
  window.userName = "<%= @client.name %>";
</script>
<script src="http://static.opentok.com/v0.91/js/TB.min.js"></script>
<script src="http://js.pusher.com/1.12/pusher.min.js"></script>
<script type='text/javascript' src='//static.firebase.com/v0/firebase.js'></script>

<%= javascript_include_tag "handlebar" %>
<%= javascript_include_tag "show" %>
