<!DOCTYPE html>
<html>
<head>
  <title>WebRTC Demo</title>
  <link rel="stylesheet" href="/fontAwesome/css/font-awesome.css" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="/bootstrap/js/bootstrap.js"></script>
  <script src="https://d3dy5gmtp8yhk7.cloudfront.net/1.12/pusher.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
</head>
<body class="<%= params[:controller].parameterize %>_controller <%= params[:action].parameterize %>_action">

  <div class="container">
    <div id="header">
      <div class="container">
        <div id="logo">
          <div></div>
        </div>
      </div>
    </div>

    <%= yield %>

  </div>

</body>
</html>
